.form-container {
    margin-top: 4%;
    margin-left: 25%;
    margin-right: 25%;
}

.nav-link {
    color: white;
}

.bg-primary {
    background-color: black !important;
}

body {
    font-family: all;
    background-color: #ffccff45;
}

#form {
    background-color: rgb(90 90 241 / 60%);
}

.btn-info {
    transition: 0.5s ease-in-out;
    background: rgb(2, 0, 36);
    height: 40px;
    font-size: 18px;
    width: 83%;
    margin-left: 8%;
}

.btn-link {
    padding-top: 10px;
    color: #8a1f1f;
    text-decoration: none;
    outline: none;
}

.back-btn {
    text-decoration: none;
    outline: none;
    border: none;
    background: none;
    position: absolute;
    top: 10%;
    font-weight: bold;
    font-size: 14px;
    left: 2%;
    cursor: pointer;
}

.head h1 {
    color: rgb(2, 0, 36);
}

label {
    color: black;
}

input:focus,
input:hover {
    border-color: none;
    outline: none;
    box-shadow: none;
}

h1 {
    text-align: center;
    color: rgb(2, 0, 36);
}

.calculate_amt {
    width: 40%;
    position: relative;
    left: 25%;
}

.disabled-field {
    border: 1px solid #ced4da;
    padding: 6px 12px;
    background: white;
    border-radius: .25rem;
}